@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: beige;
}

.banner {
  background-image: url("./public/images/banner.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow {
  -webkit-box-shadow: 0px 12px 17px -14px rgba(0,0,0,0.53); 
  box-shadow: 0px 12px 17px -14px rgba(0,0,0,0.53);
}

.filled {
  @apply
  text-lila
}
.unfilled {
  @apply
  text-gray-400
}


/*TabStrip Component*/

/* info-box setup */

 .active {
  @apply
  h-16 -translate-y-4  border-r-2 border-l-2 border-t-2 rounded-t-2xl leading-[4rem]
}

/*.inactive {
  @apply
   border-2 rounded-t-2xl 
}*/
.inactive {
  @apply
  border-2 rounded-t-2xl 
}

.info-box .active-panel {
  z-index: 1;
}



.container {
  position: relative;
}

.tooltip {
  position: absolute;
  color: black;
  background: #fff;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 100%;
  width: 22px;
  border: 1px solid black;
  height: 22px;
  text-align: center;
  line-height: 22px;
  pointer-events: none;
  z-index: 1000;
}
#map-container{
  position: relative;
}
#map-container span {
  position: absolute;
  left: 0;
  width: 60px;
  color: #fff;
  text-align: center;
}