.active {
    @apply h-16 -translate-y-4 border-r-2 border-l-2 border-t-2 rounded-t-2xl leading-[3rem]
}

.inactive {
    @apply h-12 border-2 rounded-t-2xl leading-[3rem]
}

.info-box .active-panel {
    z-index: 1;
}

.container {
    position: relative;
}

.tooltip {
    transform: translate3d(-10%, -20%, -10%);
    @apply absolute text-black cursor-pointer border border-black rounded-full w-6 h-6 flex items-center justify-center bg-white hover:bg-limone z-40
}

#map-container {
    position: relative;
}

#map-container span {
    position: absolute;
    left: 0;
    width: 60px;
    color: #fff;
    text-align: center;
}

.selected {
    @apply border-black border-2
}



