.banner-1 {
    background-image: url("https://images.unsplash.com/photo-1629238416320-36597a283c2d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-2 {
    background-image: url("https://www.superstack.me/cdn/shop/files/Header_IMG_2.jpg?v=1679323649");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
}

.banner-3 {
    background-image: url('https://www.superstack.me/cdn/shop/files/Stackers_take_care_Bild_rechts_cuttet.jpg?v=1658849047');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}


#sparkle-card img {
    position: absolute;
}

#sparkle-card img:first-of-type {
    top: -14px;
    right: 9%;
}

#sparkle-card img:nth-of-type(2) {
    top: -14px;
    right: 20%;
}

#sparkle-card img:nth-of-type(3) {
    bottom: -14px;
    left: 9%;
}

#sparkle-card img:nth-of-type(4) {
    bottom: -14px;
    left: 20%;
}